/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlbHYjedg.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlSHYjedg.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlZHYjedg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlYHYjedg.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3IWkUHHAIjg75cFRf3bXL8LICs1_Fv40pKlN4NNSeSASz7FmlWHYg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v29/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none ;
    border: none;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Oswald',san-serif;
}

p{
    font-family: 'Raleway' san-serif;
}

.wrapper{
  width:100%;
  margin: auto;
}

.nav{
    overflow: auto;
    width: 85%;
    margin: 1em auto;
}

.nav h1{
    text-transform: uppercase ;
    width: 50%;
    float: left;
}

.nav h1 a{
    font-family: 'Oswald' ,sans-serif;
    color: #96746b;
    text-decoration: none;
}

.nav ul{
width:50% ;
float:left ;
text-align:right ;
padding-top: 1em;
}

.nav ul li{
    display: inline-block;
    margin-left:1em ;
}

.nav ul a{
    font-family: 'Railway', sans-serif;
    font-weight: 700;
    color: #312a26;
    text-decoration: none;
}

/* Banner Area*/
.banner{
  background-image: url('../images/images/banner-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 670px;
}

.banner-text{
  position: absolute;
  top: 50%;
  left: 7.5%;
  transform: translateY(-50%);
  width: 45%;
}

.banner-text h2{
  color: #c7a17a;
  font-size: 4em;
  text-transform: uppercase;
}

.banner-text h2 span{
color: #96746B;
}

.banner-text p{
  color: #FFF;
}

.banner a{
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  background-color: #312a26;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight:  700;
  margin-top: 1em;
}

/*Ads Area*/
.ads{
  width:  85%;
  margin: 4em auto;
  overflow: auto;
}

.ads-items{
  width: 48.5%;
  float: left;
  height: 350px;
  background-size: cover;
  background-position: center; 
  position: relative;
  margin-bottom: 3%;
}

.ads-item1{
  margin-right: 3%;
  background-image: url('../images/images/ads-img1.jpg');
}

.ads-item2{
  background-image: url('../images/images/ads-img2.jpg');
}

.ads-text{
  position: absolute;
  top: 30%;
  left: 10%;
  transform: translateY(-50%);
  width: 40%;
}

.ads-text h3{
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
  line-height: 1.2em;
  text-shadow:  3px 3px 6px #312a26;
}

.ads-text a{
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1em;
  text-shadow: 3px 3px 5px #312a26;
}

/*Merchandises Area*/
.merch{
  width: 85%;
  margin: 4em auto;
}

.section-header{
  text-align: center;
}

.section-header span{
  font-family: 'Ralway', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #c7a17aC7;
}

.section-header h2{
  text-transform: uppercase;
  color: #312a26;
}

.section-header hr{
  background-color: #c7a17aC7;
  height: 2px;
  width: 25%;
  margin: auto;
}

.merch-gallery{
  margin-top: 2em;
  overflow: auto;
}

.merch-items{
  width: 24.25%;
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
}

.merch-items:nth-child(4),
.merch-items:nth-child(8){
  margin-right: 0;
}

.merch-items img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/*Discount Area*/
.discount{
  width: 85%;
  margin: 4em;
  background-image: url('../images/images/discount-img.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
  position: relative;
} 

.discount-text{
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.discount-text span{
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-style: italic;
  text-shadow: 3px 3pxx 6px #312a26;
}

.discount-text h2{
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 3px 3pxx 6px #312a26;
}

.discount-text a{
  text-decoration: none;
  display: inline-block;
  padding: 1em;
  background-color: rgba(255,255,255,5);
  color: #312a26;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-top: 1em;
}


/*Merchandise Sale Area-*/


/*Ads2 Area*/
.ads2-item1{
  margin-right: 3%;
  background-image: url('../images/images/ads-img3.jpg');
}

.ads2-item2{
  background-image: url('../images/images/ads-img4.jpg');
}

.ads2-item3{
  margin-right: 3%;
  background-image: url('../images/images/ads-img5.jpg');
}

.ads2-item4{
  background-image: url('../images/images/ads-img6.jpg');
}


/*Resavation Area*/
.reservation{
  width: 85%;
  margin: 4em auto;
}

.form{
  overflow: auto;
}

.form-group{
  margin-top: 2em;
  background-color: #f2f2f2;
  float: left;
  width: 49.5%;
  border-radius: 5px;
  padding: 2em;
  height: 650px;
}

.form-group:nth-child(1){
  margin-right: 1%;
}

form input,
form label,
form select,
form textarea{
  display: inline-block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  padding: 1em;
  margin-bottom: 1em;
}

form label{
  font-weight: 700;
  padding: 0;
  /* margin-bottom: .5em; */
}

.res-time{
  text-align: center;
} 

.res-time *{
  width: auto;
}

form p{
  text-align: center;
  text-transform: uppercase;
}

form h3::after{
  content: "";
  background-image: url('../images/images/reservation-cards.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 30px;
  margin: auto;
}

.res-agreement *{
  width: auto;
}

form input[type="submit"]{
  background-color: #c7a17a;
  font-weight: 700;
  text-transform: uppercase;
}

/*Footer Area*/
.footer{
  background-image: url('../images/images/footer-img.jpg'); 
  background-size: cover;
  background-position: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-contents{
  width: 85%;
  margin: auto;
  overflow: auto;
}

.footer-widgets{
  width: 24.25%;
  float: left;
  margin-right: 1%;
}

.footer-widgets:nth-child(4){
  margin-right: 0;
}

.footer-widgets h3{
  color: #fff;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px #312a26;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-widgets h4{
  color: #fff;
}

.footer-widgets p{
  color: #c7a17a;
}

.footer td,th{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-shadow: 3px 3px 6px #312a26;
}

.footer-form *{
  width: auto;
}

.footer-social{
  color: #fff;
  background-color: #19100f;
  overflow: auto;
  padding: 1em 7.5%;
}

.social-widget{
  width: 32.66%;
  float: left;
  text-align: center;
}

.social-widget h3{
  text-transform: uppercase;
}

.social-widget img{
  width: 1.5em;
}

































